.product-card{
    position: relative;
    .discount{
        background-color: rgb(168, 204, 47);
        border-radius: .2rem;
        position: absolute;
        top: 1.3rem;
        left: 1.3rem;
    }
    .cBody{
        .rate{
            color: rgb(168, 204, 47);
        }
        .price{
            color: rgb(168, 204, 47);
        }
    }
}